services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
      target: runtime
    image: pet-manager:latest
    ports:
      - 8080:80
    environment:
      - NODE_ENV=production
    restart: unless-stopped